doctype html
html
	head
		meta(charset='utf-8')
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Starterkit Boilerplate
		
		//- web application manifest
		link(rel='manifest', href='manifest.json')
		
		//- color the status bar on mobile devices
		meta(name='theme-color', content='')
		
		//- add to homescreen on Android
		meta(name='mobile-web-app-capable', content='yes')
		meta(name='application-name', content='Starterkit Boilerplate')
		link(rel='icon', sizes='192x192', href='')

		//- add to homescreen on Android
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		meta(name='apple-mobile-web-app-title', content='Starterkit Boilerplate')
		link(rel='apple-touch-icon', href='')

		//- opengraph
		//- https://ogp.me/#metadata
		meta(name="og:type", content="website")
		meta(name="og:title", content="")
		meta(name="og:url", content="")
		meta(name="og:description", content="")
		meta(name="og:image", content="")

		//- twitter card
		//- https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary-card-with-large-image
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:title", content="")
		meta(name="twitter:site", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")

		//- stylesheets
		link(href='styles/libs.css', rel='stylesheet')
		link(href='styles/main.css', rel='stylesheet')
	body
		|
