doctype html
html
	head
		meta(charset='utf-8')
		title Starterkit Boilerplate
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='styles/libs.css', rel='stylesheet')
		link(href='styles/main.css', rel='stylesheet')
	body
		|