@keyframes wobbleV {
    16.65% {
        transform: translateY(6px);
    }

    33.3% {
        transform: translateY(-5px);
    }

    49.95% {
        transform: translateY(4px);
    }

    66.6% {
        transform: translateY(-2px);
    }

    83.25% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0);
    }
}

.wobble-vertical {
    animation-name: wobbleV;
    animation-duration: 1.5s;
    animation-iteration-count: infinite
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
    }
}

.fadeinup {
    animation: fadeInUp 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadein {
    animation: fadeIn 2s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeout {
    animation: fadeOut 2s;
}