@import "mixins", "utilities";

body {
    margin: 0;
    padding: 0;
    font-family: $regularfont;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
section {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1.5;
}

img {
    border: 0;
    max-width: 100%;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.mobile-nav--wrap {
    display: none;
    position: sticky;
    top: -1px;
    z-index: 300;

    @media screen and (max-width: 1150px) {
        display: block;
    }

    .mobile-nav {
        margin: 0;
        padding: 20px 18px;
        background: $maincolor;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .mobile-nav--btn {
            cursor: pointer;
        }

        .mobile-nav--actions {
            display: flex;
            flex-direction: row;

            div {
                padding: 0 0 0 .9em;
            }
        }
    }

    .mobile-sec--nav {
        margin: 0;
        padding: .4em 0;
        background: $white;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);

        ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            text-align: center;

            li {
                display: inline-block;
                margin: 0 .3em;
                padding: 1.5px 9px;

                @media screen and (max-width: 360px) {
                    padding: 1.5px 4px;
                }

                @media screen and (max-width: 320px) {
                    padding: 1.5px 0;
                }

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        padding: .42em 0;
                        max-width: 100%;
                    }

                    span {
                        margin: .42em 0;
                        color: $maincolor;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.mobile-nav--pane {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100px;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    @extend .transition;

    .mobile-close--btn {
        position: absolute;
        top: 19px;
        left: 312px;
        cursor: pointer;


        @media screen and (max-width: 320px) {
            left: 287px;
        }
    }

    .mobile-nav--wrap {
        margin: 0;
        padding: 0;
        background: $white;
        display: block;
        width: 284px;
        position: absolute;
        left: 0;
        height: 100%;
        z-index: 100;

        @media screen and (max-width: 320px) {
            width: 270px;
        }

        .nav-container {
            position: relative;
            height: 100%;

            .nav-hold {
                overflow-y: scroll;
                height: 75vh;
                box-shadow: inset 0 -1px 25px -12px rgba(0, 0, 0, .4);

                ul.nav {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;

                    li {
                        padding: 0;
                        border-bottom: 1px solid #F2F2F2;

                        a {
                            padding: 22px;
                            color: $black;
                            font-family: $boldfont;
                            position: relative;
                            display: block;
                            font-size: 14px;

                            &:after {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                top: 23px;
                                right: 22px;
                                background-image: url("../images/mobile-menu-right.svg");
                                background-repeat: no-repeat;
                                width: 7px;
                                height: 12px;
                            }
                        }

                        ul.sub-nav {
                            margin: 0;
                            padding: 22px 0;
                            list-style: none;
                            display: none;
                            flex-direction: column;
                            border-top: 1px solid #F2F2F2;

                            &.show {
                                display: flex;
                            }

                            li {
                                padding: 6px 0;
                                border-bottom: none;

                                a {
                                    padding: 0 24px;
                                    font-family: $regularfont;
                                    font-size: 14px;

                                    &:after {
                                        content: '';
                                        background: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .support-nav {
                padding: 22px 0;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 42px;

                ul.nav {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;

                    li {
                        padding: 8px 22px;
                        align-content: center;

                        a {
                            font-family: $boldfont;
                            color: $black;
                            font-size: 14px;
                        }
                    }
                }
            }

            .social-hold {
                margin: 0;
                padding: 22px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 10px;

                ul.nav {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}

.reveal-pane {
    opacity: 1;
    visibility: visible;
    left: 0;
}

.top--nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 1150px) {
        display: none;
    }

    .nav--hold {
        ul li {
            margin: 0 42px 0 0;
            padding: 8px 0;

            a {
                padding: 8px 0 11px 0;
                color: $black;
                font-family: $boldfont;
                font-size: 14px;

                &:hover {
                    color: $maincolor;
                }

                &.active {
                    color: $maincolor;
                    border-top: 4px solid $maincolor;
                }
            }
        }
    }

    .top--actions {
        margin: 0;
        padding: 4px 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        div {
            padding: 0 0 0 .9em;
            cursor: pointer;
        }
    }
}

.menu--wrap {
    margin: 0;
    padding: 0;
    background: $maincolor;
    height: 100px;
    position: sticky;
    top: -1px;
    z-index: 300;

    @media screen and (max-width: 1150px) {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .left--hold {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 0 22%;
        max-width: 22%;

        .logo-hold {
            height: 27px;

            img {
                max-width: 100%;
                height: 27px;
            }

            &:after {
                content: "";
                margin: 0 0 0 .9em;
                position: relative;
                top: 3px;
                display: inline-block;
                height: 30px;
                width: 1px;
                background: $white;
            }
        }

        .nav-btn {
            margin: 0 0 0 1.2em;
            padding: 0;
            position: relative;
            top: 3px;
            cursor: pointer;

            &:after {
                content: "Support";
                margin: 0 0 0 .9em;
                position: relative;
                top: -3px;
                color: $white;
                font-size: 14px;
            }
        }
    }

    .middle--hold {
        flex: 1 0 63%;
        max-width: 63%;

        .main-nav {
            padding: 12px 0;

            ul {
                margin: 0 auto;
                padding: 0;
                list-style-type: none;
                position: relative;

                li {
                    display: inline-block;
                    margin: -12px .9em;
                    padding: 11px 18px;
                    border-bottom: 4px solid $maincolorhover;

                    &.active,
                    &:hover {
                        background: $maincolorhover;
                        cursor: pointer;
                    }

                    a {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        img {
                            padding: .5em 0;
                            max-width: 100%;
                            height: 45px;
                            object-fit: contain;
                        }

                        span {
                            margin: .41em 0 .42em 0;
                            color: $white;
                            font-size: 14px;
                        }
                    }

                    ul.main-nav--sub {
                        margin: 16px 0 0 0;
                        padding: 52px 42px;
                        background: $white;
                        position: absolute;
                        left: -35%;
                        right: -35%;
                        width: 1175px;
                        min-height: 234px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border-radius: 0 0 10px 10px;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
                        opacity: 0;
                        visibility: hidden;
                        @extend .transition;

                        &.reveal-hold {
                            opacity: 1;
                            visibility: visible;
                        }

                        .lft-sub {
                            flex: 1 0 50%;
                            max-width: 50%;

                            h3 {
                                color: $maincolor;
                                margin: 0;
                                padding: 0;
                                font-family: $boldfont;
                                font-size: 16px;
                            }

                            ul.sub-nav {
                                margin: 0;
                                padding: 28px 0;
                                list-style-type: none;
                                max-width: 50%;

                                li {
                                    margin: 0 0 0 -10px;
                                    padding: 0;
                                    display: block;
                                    border: 0;

                                    &:hover {
                                        background: none;
                                    }

                                    a {
                                        display: block;
                                        margin: 0;
                                        padding: 12px 6px;
                                        color: #707070;
                                        font-size: 14px;
                                        font-family: $boldfont;
                                        word-break: break-word;
                                        background: $white;
                                        border-left: 4px solid $white;
                                        cursor: pointer;

                                        &:hover {
                                            background: #f7f7f7;
                                            color: $maincolor;
                                            border-left: 4px solid $maincolor;
                                        }

                                        &.has-children {
                                            background: url("../images/sub-nav-expand-icon.svg") 95% 50% no-repeat;

                                            &:hover {
                                                background: #f7f7f7 url("../images/sub-nav-expand-icon.svg") 95% 50% no-repeat;
                                            }
                                        }
                                    }

                                    ul.sub-nav--child {
                                        margin: 0;
                                        padding: 0;
                                        list-style-type: none;
                                        position: absolute;
                                        display: block;
                                        width: 90%;
                                        right: -260px;
                                        margin-top: -43px;
                                        opacity: 0;
                                        visibility: hidden;
                                        @extend .transition;

                                        &.reveal-child {
                                            opacity: 1;
                                            visibility: visible;
                                        }

                                        li {
                                            margin: 0;
                                            padding: 0;

                                            a {
                                                margin: 0;
                                                padding: 12px 0;
                                                font-family: $regularfont;
                                                word-break: break-word;
                                                background: none;
                                                border: 0;

                                                &:hover {
                                                    background: none;
                                                    color: $maincolor;
                                                    border: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .rgt-sub {
                            flex: 1 0 50%;
                            max-width: 50%;

                            .close-submenu {
                                text-align: right;

                                span {
                                    color: #707070;
                                    font-size: 14px;
                                    cursor: pointer;

                                    &:after {
                                        content: "";
                                        margin: 0 0 0 9px;
                                        padding: 0;
                                        position: relative;
                                        display: inline-block;
                                        vertical-align: middle;
                                        background-image: url("../images/close-icon-smenu.svg");
                                        background-repeat: no-repeat;
                                        width: 22px;
                                        height: 22px;
                                    }

                                    &:hover {
                                        color: $black;
                                    }

                                }
                            }

                            .nav-sub--ad {
                                margin: 1.2em 0;
                                padding: 0;
                                min-height: 212px;

                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                    }


                }
            }
        }
    }

    .right--hold {
        flex: 1 0 15%;
        max-width: 15%;
        background: $maincolorhover;

        .top-cta {
            height: 100%;

            a {
                margin: 0 auto;
                padding: 18px 0;
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                width: 134px;
                height: 58px;
                text-align: center;
                color: $maincolor;
                font-family: $regularfont;
                background: $white;
                font-size: 18px;
                border-radius: 50px;
            }
        }
    }

}

.separator {
    margin: 0;
    padding: 0;
    height: 76px;
}

.tab-content--wrap {
    margin: 0;
    padding: 0;

    .tab-content--nav {
        margin: 0;
        padding: 0;

        @media screen and (max-width: 600px) {
            overflow-y: hidden;
            overflow-x: auto;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;

            li {
                margin: 0 42px 0 0;
                padding: 32px 0;
                position: relative;
                white-space: nowrap;

                a {
                    padding: 32px 0;
                    font-size: 18px;
                    color: #949494;
                    position: relative;
                    font-family: $regularfont;

                    &.active {
                        color: $maincolor;

                        &:after {
                            border-left: 12px solid transparent;
                            border-right: 12px solid transparent;
                            border-bottom: 12px solid $maincolor;
                            content: " ";
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .tab-content--hold {
        padding: 61px 0;
        background: #F7F7F7;
        border-top: 1px solid $maincolor;

        @media screen and (max-width: 768px) {
            padding: 21px 0;
        }

        .tab-content {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            transition: all .2s ease-out;

            .tab-lft {
                flex: 1 0 16.66666667%;
                max-width: 16.66666667%;
                overflow: hidden;

                @media screen and (max-width: 768px) {
                    ul {
                        margin: .7em 0 !important;

                        li {
                            margin: 0 12px 0 0;
                        }
                    }
                }

                h3 {
                    margin: 0;
                    padding: 0;
                    font-family: $boldfont;
                    color: #707070;
                    font-size: 18px;
                    word-break: break-word;
                    max-width: 90%
                }

                ul {
                    margin: 3.7em 0 0 0;
                    padding: 0;
                    list-style: none;

                    li {
                        padding: 0 0 .9em;

                        a {
                            color: #707070;
                            font-size: 16px;

                            &:before {
                                content: "";
                                margin: 0 .5em 0 0;
                                width: 22px;
                                height: 22px;
                                position: relative;
                                top: 6px;
                                background-image: url("../images/list-item-icon.svg");
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                display: inline-block;
                            }

                            &.active {
                                &:before {
                                    content: "";
                                    margin: 0 .5em 0 0;
                                    width: 22px;
                                    height: 22px;
                                    background-image: url("../images/active-list-icon.svg");
                                    background-repeat: no-repeat;
                                    background-position: 50% 50%;
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    a.tabs--cta {
                        margin: 3.4em 0 0 0;
                        padding: 18px 12px;
                        display: block;
                        width: 175px;
                        font-size: 13px;
                        color: $white;
                        background: $maincolor;
                        text-align: center;
                        border-radius: 90px;

                        @media screen and (max-width: 768px) {
                            margin: .3em 0;
                        }

                        &:before {
                            content: "";
                            margin: 0;
                            width: auto;
                            height: auto;
                            background-image: none;
                        }

                        &:after {
                            content: "";
                            margin: 0 0 0 .9em;
                            padding: 0;
                            width: 17px;
                            height: 17px;
                            display: inline-block;
                            vertical-align: middle;
                            position: relative;
                            background: url("../images/right-arrow-white.svg") no-repeat;
                        }

                        &.active,
                        &:hover {
                            background: $maincolorhover;
                        }
                    }
                }
            }

            .tab-nav--hold {
                display: block;

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            .tab-nav--mobile {
                display: none;

                @media screen and (max-width: 768px) {
                    display: block;
                }

                ul {
                    display: block;
                }
            }

            .inner-tab-content {
                flex: 1 0 83.33333333%;
                max-width: 83.33333333%;
                display: flex;

                .tab-rgt {
                    display: flex;
                    flex-direction: row;

                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                    }

                    .tab-rgt--content {
                        padding: 0 18px;
                        flex: 1 0 66.66666667%;
                        max-width: 66.66666667%;
                        color: #707070;
                        overflow: hidden;

                        &.without-widget {
                            flex: 1 0 100%;
                            max-width: 100%;
                        }

                        @media screen and (max-width: 768px) {
                            padding: 0 6px;
                            flex: 1 0 100%;
                            max-width: 100%;

                            table {
                                table-layout: auto !important;
                            }
                        }

                        h3 {
                            margin: 0;
                            padding: 0;
                            font-family: $boldfont;
                            color: #707070;
                            font-size: 18px;
                        }

                        p {
                            margin-top: 2em;
                            font-size: 16px;
                            color: #707070;

                            a {
                                color: $maincolor;
                                border-bottom: 1px solid $maincolor;
                            }
                        }

                        ul {
                            list-style-type: disc;
                            margin: 2em 2.5em;
                            color: #707070;

                            li {
                                padding-bottom: 4px;
                            }
                        }

                        ol {
                            list-style-type: decimal;
                            margin: 2em 2.5em;
                            color: #707070;

                            li {
                                padding-bottom: 4px;
                            }
                        }

                        table {
                            margin: 2em 0 0 0;
                            padding: 0;
                            width: 100%;
                            max-width: 100%;
                            border-collapse: collapse;
                            table-layout: fixed;
                            text-align: left;

                            &.pd-cell-0 {
                                tr td:nth-child(1) {
                                    padding-left: 0;
                                }
                            }

                            tr th {
                                padding: 12px 32px 12px 0;
                                font-family: $boldfont;
                                white-space: nowrap;
                                overflow: hidden;
                                color: #707070;
                                border-bottom: 1px solid #ccc;
                            }

                            tr td {
                                padding: 12px 32px 12px 0;
                                border-bottom: 1px solid #ccc;
                                font-family: $regularfont;
                                white-space: nowrap;
                                color: #707070;
                                overflow: hidden;

                                p {
                                    margin: 0 !important;
                                    padding: 0 !important;

                                    strong {
                                        font-family: $boldfont;
                                    }
                                }
                            }
                        }

                        .roaming-partners {
                            margin: 0;
                            padding: 2em 0 0 0;

                            img {
                                margin: 1.2em 1.2em 0 0;
                                padding: 0;
                                display: inline-block;
                                max-width: 100%;
                            }
                        }

                        .desc-with-icons {
                            margin: 0;
                            padding: 2em 0 0 0;

                            .lst-hold {
                                margin: 0 3em 1.2em 0;
                                padding: 0;
                                display: inline-block;
                                width: 260px;
                                vertical-align: top;

                                img {
                                    max-width: 100%;
                                    border: 0;
                                }

                                h4 {
                                    margin: .9em 0;
                                    padding: 0;
                                    font-family: $boldfont;
                                    font-size: 15px;
                                }

                                h5 {
                                    margin: 0;
                                    padding: 0;
                                    font-family: $regularfont;
                                    font-size: 13px;
                                }
                            }
                        }
                    }

                    .tab-rgt--widget {
                        flex: 1 0 33.33333333%;
                        max-width: 33.33333333%;
                        overflow: hidden;

                        @media screen and (max-width: 768px) {
                            flex: 1 0 100%;
                            max-width: 100%;
                        }

                        .video-hold {
                            margin: 0;
                            padding: 0;
                            position: relative;
                            cursor: pointer;

                            @extend .transition;

                            @media screen and (max-width: 600px) {
                                margin: 23px 0;
                            }

                            &:hover {
                                &:after {
                                    transform: scale(1.1);
                                    top: 40%;
                                }
                            }

                            img {
                                height: 250px;

                                @extend .img-ps;
                            }

                            &:after {
                                margin: 0 auto;
                                padding: 0;
                                position: absolute;
                                color: $white;
                                text-align: center;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 0;
                                left: 0;
                                font-size: 3em;

                                @include font-awesome("\f144");
                            }
                        }

                    }
                }
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;

                .inner-tab-content,
                .tab-lft {
                    flex: 1 0 100%;
                    max-width: 100%;
                }

                .inner-tab-content {
                    flex-direction: column;
                    padding: 19px 0;

                    .tab-mid,
                    .tab-rgt {
                        padding: 0;
                        flex: 1 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

.story--wrap {
    margin: 0;
    padding: 0;
    position: relative;

    .story-nav {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: $maincolor;
        height: 44px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 600px;
        right: 0;

        .story-counter {
            width: 44px;
            height: 44px;
            background: $white;
            text-align: center;
            position: relative;

            span {
                position: relative;
                display: block;
                padding: 14px 0;
                font-size: 14px;
            }
        }

        .owl-prev,
        .prev-nav {
            width: 44px;
            height: 44px;
            background: #F5F5F5;

            a {
                img {
                    margin: auto;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .next-nav,
        .owl-next {
            padding: 13px 12px;
            border-right: 1px solid rgba(255, 255, 255, .2);

            a {
                color: $white;

                &:after {
                    content: "";
                    margin: 0 0 0 .4em;
                    width: 14px;
                    height: 14px;
                    background-image: url("../images/next-icon.svg");
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                }
            }
        }

        .story-ttl {
            padding: 0 18px;

            h4 {
                font-size: 16px;
            }
        }
    }

    .story-hold {
        margin: 0;
        padding: 61px 0 90px;
        position: relative;
        top: 44px;
        background: #F5F5F5;

        .story-content {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .story-ttle {
                flex: 1 0 16.66666667%;
                max-width: 16.66666667%;
                position: relative;

                .ttl-hold {
                    transform: rotate(-90deg);
                    position: absolute;
                    top: 103px;
                    right: 63px;

                    span {
                        padding: 9px 0;
                        display: block;
                        border-bottom: 1px solid rgba(7, 7, 7, .1);
                        font-size: 14px;

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }

            .story-figure {
                flex: 1 0 41.66666667%;
                max-width: 41.66666667%;

                img {
                    max-width: 100%;
                    @extend .img-ps;
                }
            }

            .story-caption {
                padding: 0 38px;
                flex: 1 0 41.66666667%;
                max-width: 41.66666667%;

                h3 {
                    font-family: $boldfont;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}

.help-hold {
    margin: 0;
    padding: 0;
    position: relative;
}

.help-btn {
    cursor: pointer;
}

.help-cta--hold {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -212px;
    left: 28px;
    opacity: 0;
    visibility: hidden;
    @extend .transition;

    &.display-cta {
        opacity: 1;
        visibility: visible;
    }

    ul {
        margin: 0;
        padding: 28px 0;
        list-style-type: none;
        background: url("../images/help-hover.svg") no-repeat;
        width: 81px;
        height: 215px;

        li {
            margin: 0;
            padding: 0 0 18px 0;

            &:last-child {
                padding-bottom: 0;
            }

            a {
                display: block;

                img,
                span {
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                }

                span {
                    margin: .3em 0;
                    font-size: 12px;
                    color: $black;
                }
            }
        }
    }
}

.timeline-wrap {
    margin: 0;
    padding: 0;

    .timeline-content--nav {
        margin: 0;
        padding: 0 0 12px 0;
        overflow-y: hidden;
        overflow-x: auto;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;

            li {
                margin: 0 112px 0 0;
                padding: 0;
                position: relative;

                @media screen and (max-width: 667px) {
                    margin: 0 32px 0 0;
                }

                a {
                    padding: 0;
                    font-size: 20px;
                    color: #ccc;
                    position: relative;
                    font-family: $regularfont;

                    &:after {
                        content: "";
                        margin: .3em auto;
                        width: 15px;
                        height: 15px;
                        background: #ccc;
                        display: block;
                        border-radius: 50%;
                    }

                    &.active {
                        color: $black;

                        &:after {
                            background: $black;
                        }
                    }
                }
            }
        }
    }

    .timeline-content--hold {
        padding: 61px 0;
        background: #f7f7f7;

        .timeline-content {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            overflow-y: hidden;
            overflow-x: auto;

            .timeline-content--item {
                margin: 0 72px 0 0;
                padding: 0;
                flex: 1 0 389px;
                max-width: 389px;
                color: $black;
                overflow: hidden;

                @media screen and (max-width: 667px) {
                    margin: 0 32px 0 0;
                    flex: 1 0 289px;
                    max-width: 289px;

                    h4 {
                        font-size: 14px !important;
                    }

                    h3 {
                        font-size: 22px !important;
                    }

                    p {
                        font-size: 14px !important;
                    }
                }

                img {
                    max-width: 100%;
                    height: 297px;

                    @extend .img-ps;
                }

                h4,
                h3 {
                    margin: 0;
                    padding: 0;
                }

                h4 {
                    margin: 1.2em 0;
                    font-family: $boldfont;
                    line-height: 1.5;
                    font-size: 16px;
                }

                h3 {
                    font-family: $boldfont;
                    line-height: 1.33;
                    font-size: 28px;
                }

                p {
                    font-size: 16px;
                    line-height: 1.8;
                    text-align: justify;
                }
            }
        }
    }
}

.content-scroll {
    margin: 0;
    padding: 0;

    .content-scroll--inner {
        display: flex;
        flex-direction: row;
        align-items: center;

        .content-scroll--lft {
            margin: 0;
            padding: 0;
            flex: 1 0 498px;
            max-width: 498px;

            .img-hold {
                margin: 0;
                padding: 0;
                height: 322px;
                overflow: hidden;

                img {
                    max-width: 100%;

                    @extend .img-ps;
                }
            }

            .content-scroll--nav {
                margin: 0;
                padding: .5em 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .scroll-dots {
                    padding: .2em 0;
                }

                .scroll-counter {
                    font-size: 16px;
                }
            }
        }

        .content-scroll--rgt {
            margin: 0;
            padding: 0;

            .content-hold {
                margin: 0;
                padding: 0 42px;

                h3 {
                    margin: 0;
                    padding: 0;
                    font-family: $boldfont;
                    font-size: 28px;
                    line-height: 1.33;
                }

                p {
                    font-size: 16px;
                    line-height: 1.8;
                }
            }
        }

    }
}