.primary-btn {
    font-family: $boldfont;
    background: linear-gradient(270deg, #60B848 -4.45%, #009677 104.45%);
    @apply .text-white .outline-none .py-3 .px-8 .rounded-full .transition .whitespace-no-wrap;
}

.primary-btn:hover {
    background: linear-gradient(270deg, #009677 -4.45%, #60B848 104.45%);
}

input,
textarea {
    @apply .box-border;
}

input,
button,
textarea {
    @apply .outline-none;
}

.input {
    &-hold {
        @apply .mb-4;
    }

    &-message {
        @apply .text-sm .text-red-600;
    }
}

.custom-input {
    @apply .relative .my-4 .px-6 .py-4 .bg-white .border;

    &:hover {
        @apply .border-gray-400;
    }

    input {
        @apply .w-full .appearance-none .text-base .relative .z-40 .bg-transparent;

        &::placeholder {
            @apply .text-black;
        }

        &:not(:placeholder-shown) + label {
            @apply .transform .-translate-y-4 .py-2 .text-sm .font-bold .opacity-100;
        }
    }

    label {
        @apply .text-base .absolute .top-0 .left-0 .mx-4 .px-2 .py-4 .bg-white .transform .duration-300 .cursor-text .opacity-0;
    }
    
}

.custom-select {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;

    @apply .relative .px-6 .mb-4 .bg-white .border .overflow-hidden;

    &:hover {
        @apply .border-gray-400;
    }

    select {
        @apply .block .appearance-none .absolute .inset-0 .w-full .px-6 .bg-transparent .border-none .outline-none .text-gray-600;

        &:focus {
            @apply .outline-none;
        }
    }

    &:after {
        @apply .pointer-events-none .absolute .inset-y-0 .right-0 .flex .items-center .mx-2 .px-2 .text-gray-500;

        @extend .fas;
        @include font-awesome("\f078");
    }
}