@import "mixins", "utilities";

body {
    margin: 0;
    padding: 0;
    font-family: $regularfont;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    line-height: 1.5;
}

img {
    border: 0;
    max-width: 100%;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}
