@mixin hero-background($img-uri) {
	background: url($img-uri) no-repeat;
	background-size: cover;
	background-position: top center;
}

@mixin border-radius($values) {
	border-radius: $values;
}

@mixin border-sizing($values) {
	border-sizing: $values;
}