@mixin font-awesome($f-icon) {
	content: $f-icon;
	font-weight: 900;
	font-style: normal;
	font-variant: normal;
}

@mixin background-icon($icon-url, $icon-width, $icon-height) {
	content: "";
	background-image: url($icon-url);
	width: $icon-width;
	height: $icon-height;

	@apply .bg-no-repeat;
}