::selection {
    background: #ff0;
    color: #000;
}

.display-none {
    display: none;
}

.rounded {
    border-radius: 50%;
}

.full-height-screen {
    height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.container {
    margin: 0 auto;
    padding: 0 12px;
    max-width: 1200px;
    position: relative;
}

.container-fluid {
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 640px) {
        margin: 0 auto;
        padding: 0 35px;
    }
}

.w-full {
    max-width: 100%;
}

.w-11 {
    max-width: 91.66666667%;
}

.w-10 {
    max-width: 83.33333333%;
}

.w-9 {
    max-width: 75%;
}

.w-8 {
    max-width: 66.66666667%;
}

.w-7 {
    max-width: 58.33333333%;
}

.w-6 {
    max-width: 50%;
}

.w-5 {
    max-width: 41.66666667%;
}

.w-4 {
    max-width: 33.33333333%;
}

.w-3 {
    max-width: 25%;
}

.w-2 {
    max-width: 16.66666667%;
}

.w-1 {
    max-width: 8.33333333%;
}

.flex {
    display: flex;
}

.flex-fill {
    flex: 1 1 auto;
}

.flex-row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.justify-content-left {
    justify-content: flex-start;
}

.justify-content-right {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-even {
    justify-content: space-evenly;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-center {
    align-items: center;
}

.align-items-top {
    align-items: flex-start;
}

.align-items-bottom {
    align-items: flex-end;
}

.align-self-top {
    align-self: flex-start;
}

.align-self-bottom {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-content-top {
    align-content: start;
}

.align-content-center {
    align-content: center;
}

.align-content-bottom {
    align-content: end;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-baseline {
    align-content: baseline;
}

.card-wrap {
    display: flex;
    flex-direction: column;

    .card {
        background: #fff;
        border-radius: 4px;
        position: relative;

        .card-header {
            position: relative;
            overflow: hidden;
        }

        .card-body {
            padding: 1.5em 1.2em;
            position: relative;
        }

        .card-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    @media screen and (min-width: 640px) {
        flex-direction: row;
    }
}

ul.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

    @media screen and (min-width: 640px) {
        flex-direction: column;
    }

    li {

        a {

            &:hover {
                color: $pcolorhover;
            }

        }
    }

}

.mobile {
    &-btn {
        position: relative;
        cursor: pointer;
        color: #fff;
        background: none;
        border: none;
    }

    &-nav {
        margin: 0 .4em;
        background: #000;
        position: fixed;
        top: 6px;
        left: 0;
        right: 0;
        z-index: 2;
        visibility: hidden;
        opacity: 0;

        @extend .transition;

        &.toggle {
            visibility: visible;
            opacity: 1;
        }

        ul {
            margin-top: 2.6em;
            padding: 0 0 15px 0;

            li {
                margin-left: auto;
                padding: 12px 15px;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 14px;

                    &:hover {
                        color: $pcolor;
                    }
                }
            }
        }
    }

    &-close {
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;

        &__btn {
            position: fixed;
            top: 25px;
            right: 43px;
            color: #fff;
            z-index: 3;
            cursor: pointer;

            span,
            span:before,
            span:after {
                content: "";
                position: absolute;
                display: block;
                border-radius: 4px;
                height: 5px;
                width: 30px;
                background: #fff;
            }

            span {
                background: transparent;
            }

            span:before {
                transform: rotate(45deg);
            }

            span:after {
                transform: rotate(-45deg);
            }
        }
    }
}

.modal {
    &-wrap {
        margin: 0;
        padding: 0;
        display: none;
        background: rgba(0, 0, 0, 0.2) !important;
        position: fixed !important;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &-hold {
        border-radius: 5px;
        box-shadow: 0 7.5px 8.5px 0 rgba(70, 142, 229, 0.15);
        background-color: #fff;
        width: 40%;
        max-width: 40%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    &-header {
        padding: 32px;

        h3,
        h4 {
            margin: 0;
        }

        h4 {
            font-size: 14px;
            text-transform: uppercase;
        }

        h3 {
            font-family: $boldfont;
        }

        p {
            font-size: 14px;
            margin: .5em 0;
        }
    }

    &-body {
        padding: 0 32px 32px;
    }

    &-footer {
        padding: 18px 32px;
    }
}

.table-hold {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;

    table {
        table-layout: auto !important;
    }
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;

    tr th,
    tr td {
        overflow: hidden;
        white-space: nowrap;
    }

    tr th {
        font-family: $boldfont;
    }

    tr td {
        font-family: $regularfont
    }
}