<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Startkit Boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
	
    <meta property="og:title" content="" /> 
	<meta property="og:type" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<meta property="og:description" content="" />

	<link rel="manifest" href="manifest.json">
	<link rel="apple-touch-icon" href="icon.png">
    
    <link rel="stylesheet" href="styles/libs.css">
    <link rel="stylesheet" href="styles/main.css">

</head>

<body>
	<h2>Let's get to it!</h2>

    <script src="scripts/libs.js"></script>
    <script src="scripts/main.js"></script>

</body>

</html>